.rc-slider-tooltip-inner {
  background: #5560FA !important;
}

.rc-slider-track {
  background-color: #C3C7E6;
  height: 5px
}

.rc-slider-handle {
  background-color: #5560FA;
  border: solid 2px #5560FA;
}

.rc-slider-handle:hover,
.rc-slider-handle:focus,
.rc-slider-handle:hover {
  border: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.Select input {
  color: #FFFFFF;
}

.Select-value-label {
  color: #FFFFFF !important;
}

.Select.is-focused .Select-control {
    box-shadow: none !important;
}

._dash-loading {
  display: none !important;
}

#ampere-page {
  transition: background-color 0.3s ease; /* Add transition for background color */
}